ul {
  width: 1000px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
}

li {
  font-size: 18px;
  padding: 10px;
}

li:hover {
  cursor: pointer;
}

li:last-child {
  padding: 0;
  cursor: none;
  position: absolute;
  display: inline-block;
  top: 50px;
  height: 2px;
  background: black;
  transition: all 600ms ease;
}

.link {
  color: black;
  text-decoration: none;
}
